*{
    padding: 0px;
    margin: 0px;
}

body, html {
    overflow-x: hidden;
    background-color: #ebe6da;
}

.navbar{
    padding-right: 20rem;
    background-color: #006996;
    height: 70px;

}

li {
    margin-left: 20px;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
}

ul {
    list-style: none;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin-top: 1.5%;
    color: #EBDFC5;
    font-size: 18px;
    font-family: Montserrat;
    margin-left: 2%;
}

.navbar a {
    color: #EBDFC5;
    text-decoration: none;
}

.navbar li:hover {
    transition: 0.5s ease;
    color: #E45F15;
}

.navbar img {
    margin-top: 1.5%;
    height: 40px;
    margin-left: 5%;

}

.menuCima, .menuBaixo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    color: #ebe6da;
}

.container {
    margin: 30px;

}


.opcaoEvento {
    background-color: #E45F15;
    padding: 40px;
    border-radius: 30px;
    height: 230px;
    width: 305px;
    margin: 5px;
    transition: 0.2s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);

}

.opcaoEvento:hover {
    height: 245px;
    width: 320px;
    transition: 0.2s;
}

.opcaoMascote {
    background-color: #006996;
    width: 700px;
    height: 230px;
    padding: 40px;
    border-radius: 30px;
    margin: 5px;
    transition: 0.2s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.opcaoMascote:hover {
    width: 715px;
    height: 245px;
    transition: 0.2s;
}

.opcaoAnuncio {
    background-color: #006996;
    padding: 40px;
    border-radius: 30px;
    height: 230px;
    width: 170px;
    padding-right: 65px;
    margin: 5px;
    transition: 0.2s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.opcaoAnuncio:hover {
    height: 245px;
    width: 185px;
    transition: 0.2s;
}

.opcaoUsuario {
    background-color: #E45F15;
    padding: 40px;
    border-radius: 30px;
    height: 230px;
    width: 450px;
    margin: 5px;
    transition: 0.2s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.opcaoUsuario:hover {
    height: 245px;
    width: 465px;
    transition: 0.2s;
}

.opcaoBarraca {
    background-color: #006996;
    padding: 40px;
    border-radius: 30px;
    height: 230px;
    width: 280px;
    margin: 5px;
    transition: 0.2s;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.opcaoBarraca:hover {
    height: 245px;
    width: 295px;
    transition: 0.2s;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E45F15;
    color: #EBDFC5;
    font-family: Montserrat;
    height: 200px;
}

footer img {
    width: 80px;
}

.container a {
    color: #ebe6da;
}

.container li:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    margin: 30px;
}

.container2 h1 {
    font-size: 7rem;
    color: #006996;
    font-family: Oswald;
    line-height: 100px;
    margin-left: 10%;
    width: 550px;
}

input {
    width: 410px;
    height: 70px;
    margin: 2px;
    border-radius: 30px;
    border: 2px solid #E45F15;
    background-color: #ebe6da;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.2s;
}

input:hover {
    width: 415px;
    height: 75px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}

::placeholder {
    color: #E45F15;
    opacity: 0.5;
}

button {
    width: 450px;
    height: 70px;
    border-radius: 30px;
    background: #E45F15;
    color: #EBDFC5;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}

button:hover {
    width: 452px;
    height: 72px;
    background-color: #ea6924;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
    cursor: pointer;
}

.container img {
    width: 80px;
    margin-bottom: 10px;
}

#restrita {
    margin-left: -15%;
}

@media screen and (max-width: 1030px) {

    .container2 {
        display: inline;
    }

    .navbar li {
        margin-top: 2.5%;
    }

    .navbar img {
        margin-top: 2.5%;
    }

    .titulo > h1{
        text-align: center;
        margin: 0px;
        font-size: 90px;
        width: 100%;
    }

}

@media screen and (max-width: 880px) {

    .opcaoEvento {
        height: 265px;
    }

    .opcaoEvento:hover {
        height: 275px;
    }

    .opcaoMascote {
        height: 265px;
    }

    .opcaoMascote:hover {
        height: 275px;
    }

    .opcaoAnuncio {
        height: 265px;
    }

    .opcaoAnuncio:hover {
        height: 275px;
    }

    .opcaoUsuario {
        height: 265px;
    }

    .opcaoUsuario:hover {
        height: 275px;
    }

    .opcaoBarraca {
        height: 265px;
    }

    .opcaoBarraca:hover {
        height: 275px;
    }

    .container2 h1 {
        width: 100%;
        margin-right: 2000px;
    }

}

@media screen and (max-width: 790px) {

    .navbar li {
        margin-top: 6%;
        font-size: 80%;
    }

    .navbar img {
        margin-top: 6%;
        height: 30px;
    }

    .opcaoEvento {
        width: 100%;
        height: 265px;
    }

    .opcaoEvento:hover {
        height: 275px;
    }

    .opcaoMascote {
        width: 100%;
        height: 265px;
    }

    .opcaoMascote:hover {
        height: 275px;
    }

    .opcaoAnuncio {
        height: 265px;
    }

    .opcaoAnuncio:hover {
        height: 275px;
    }

    .opcaoUsuario {
        height: 265px;
    }

    .opcaoUsuario:hover {
        height: 275px;
    }

    .opcaoBarraca {
        height: 265px;
    }

    .opcaoBarraca:hover {
        height: 275px;
    }

    .titulo > h1 {
        font-size: 5rem;
        line-height: 75px;
    }

}

@media screen and (max-width: 780px) {

    .opcaoAnuncio {
        width: 140px;
    }

    .opcaoUsuario {
        width: 160px;
    }

    .opcaoBarraca {
        width: 150px;
    }

    .container h1, li {
        font-size: 80%;
    }

    #restrita {
        margin-left: -10%;
    }
}

@media screen and (max-width: 600px) {

    .menuCima, .menuBaixo {
        display: inline;
    }

    .navbar li {
        margin-top: 10%;
    }

    .opcaoEvento, .opcaoMascote, .opcaoAnuncio, .opcaoUsuario, .opcaoBarraca {
        width: auto;
        height: auto;
    }

    .opcaoEvento:hover, .opcaoMascote:hover, .opcaoAnuncio:hover, .opcaoUsuario:hover, .opcaoBarraca:hover {
        width: auto;
        height: auto;
    }

    .opcaoAnuncio {
        background-color: #E45F15;
    }

    .opcaoUsuario {
        background-color: #006996;
    }

    .opcaoBarraca {
        background-color: #E45F15;
    }

    input {
        width: 300px;
    }

    button {
        width: 342px;
    }

    #restrita {
        margin-left: -5%;
    }

}

@media screen and (max-width: 500px) {
    .navbar li {
        margin-top: 20%;
        margin-left: 10%;
    }

    .navbar img {
        margin-top: 15%;
        margin-left: 20%;
    }
}