body {
    margin: 0;
    padding: 0;
    background-color: #006996;
}

body, html {
    overflow-x: hidden;
}

main {
    min-height: 50rem;
}

.navbar li {
    margin-right: 50px;
}

.lado{
    margin: 0;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar{
    padding-top: 2.5%;
}

.navbar li {
    color: #EBDFC5;
    font-size: 18px;
    font-family: Montserrat;
    word-wrap: break-word;
}

.navbar + li:hover {
    transition: 0.5s ease;
    color: #E45F15;
    cursor: pointer;
}

.navbar img {
    height: 40px;
    margin-right: 2%;
}

.navbar a{
    color: #EBDFC5;
    text-decoration: none;
}

.navbar a:hover{
    transition: 0.5s ease;
    color: #E45F15;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu ul {
    list-style: none;
    padding: 0.5rem;
}

.menu li {
    color: #EBDFC5;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
    margin-top: 8px;
    width: 326px;
    height: 43px;
    border-radius: 31px;
    background-color: var(--Laranja, #E45F15);
    text-align: center;
    padding-top: 18px;
}

.menu a {
    color: #006996;
    text-decoration: none;
    padding: 20px;
}

.menu div {
    padding: 0px;
}

.titulo {
    width: 550px;
}

h1 {
    font-size: 7rem;
    margin: 0;
    margin-right: 50px;
    font-weight: 800;
    font-family: Oswald;
    color: #E45F15;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    word-wrap: break-word;
}

h2 {
    font-size: 6rem;
    margin: 0;
    font-weight: 800;
    font-family: Oswald;
    color: #EBDFC5;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    word-wrap: break-word;
}

input {
    width: 450px;
    height: 70px;
    margin: 2px;
    border-radius: 30px;
    border: 2px solid #EBDFC5;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    color: #EBDFC5;
    padding-left: 40px;
    background-color: #006996;
}

::placeholder {
    color: #EBDFC5;
    opacity: 0.6;
}

button {
    width: 497px;
    height: 70px;
    border-radius: 30px;
    background: var(--Laranja, #E45F15);
    color: #EBDFC5;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 70px;
}

.container2 h1 {
    margin-bottom: 50px;
    line-height: 110px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    margin-top: 70px;
    margin-bottom: 60px;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E45F15;
    height: 18rem;
}

.container3 p {
    color: #EBDFC5;
    font-family: Montserrat;
    font-size: 1.3rem;
    font-weight: 400;
}

.container3 img {
    width: 8%;
}

#tabUsuariosAtivos, #tabSelecionarMascote, #tabNovaCor, #tabDeletarCor,
#tabAtualizarCor, #tabUsuariosInativos, #tabEventosAtivos, #tabCriarEvento,
#tabDeletarEvento, #tabAtualizarEvento, #tabAnunciosAtivos, #tabBarracaAtiva,
#tabCadastrarBarraca, #tabDeletarBarraca, #tabAtualizarBarraca {
    display: none;
}

#tabUsuariosAtivos:target, #tabSelecionarMascote:target, #tabNovaCor:target,
#tabDeletarCor:target, #tabAtualizarCor:target, #tabUsuariosInativos:target,
#tabEventosAtivos:target, #tabCriarEvento:target, #tabDeletarEvento:target,
#tabAtualizarEvento:target, #tabAnunciosAtivos:target, #tabBarracaAtiva:target,
#tabCadastrarBarraca:target, #tabDeletarBarraca:target, #tabAtualizarBarraca:target {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1060px) {

    .menu li {
        font-size: 15px;
        font-weight: 600;
        width: 250px;
        height: 33px;
    }

    h2 {
        font-size: 5rem;
    }

    .menu a {
        color: #006996;
        text-decoration: none;
        padding: 10px;
    }

}

@media screen and (max-width: 740px) {

    h2 {
        font-size: 4rem;
    }

}

@media screen and (max-width: 740px) {

    h2 {
        font-size: 3rem;
    }

}